/*GLOBAL STYLES*/

html, body {
    
    height:100%;
}

body {
    margin:0px;
    padding:0px;
    background-color:#190d01;
    font-family:'Trebuchet MS', Verdana, sans-serif;
    font-size:16px;
    font-weight:500;
    color:#c2f0f0;
}

h1, h2, h3 {
    margin:0px;
    padding:0px;
    color:#ff99ff;
    font-family:'Comic Sans MS', Verdana, sans-serif;
    font-weight:bold;
}

h1 {
    font-size:4em;
}

p {
    color:#ffffb3;
    margin:15px 0px;
    line-height:20px;
}

a {
    color:#ff6633;
    text-decoration: none;
}

a:hover {
    color:#ffa31a;
    font-weight:bold;
}

/*HEADER STYLES*/

header {
    height:100px;
    background-color:#F4F4F4;
}

#logo {
    color:#ffa31a;
}
#logo:hover {
    color:#ff6633;
}

/*BANNER STYLES*/

#banner {
    overflow:hidden;
    padding:175px 0px;
    border-top:6px solid #ffa31a;
    background-color:#F4F4F4;
    background: url(../images/banner-home.jpg) no-repeat center center #F4F4F4;
    background-size:cover;
}

#bannertext {
    font-size:6em;
    text-align:center;
    text-shadow:6px 6px #000;
}